*.o
*.lo
*.deb
*.la
libtpm/utils/tpmconv
libtpm/utils/getrandom
libtpm/utils/activateidentity
libtpm/utils/bindfile
libtpm/utils/calcfuturepcr
libtpm/utils/certifykey
libtpm/utils/certifyselftest
libtpm/utils/checkquote
libtpm/utils/checkquote2
libtpm/utils/chgauth
libtpm/utils/chgtpmauth
libtpm/utils/clearown
libtpm/utils/cmk_approvema
libtpm/utils/cmk_createkey
libtpm/utils/cmk_createticket
libtpm/utils/cmk_loadmigrationblob
libtpm/utils/cmk_migrate
libtpm/utils/cmk_setrestrictions
libtpm/utils/counter_calc_incr
libtpm/utils/counter_create
libtpm/utils/counter_increment
libtpm/utils/counter_read
libtpm/utils/counter_release
libtpm/utils/createek
libtpm/utils/createkey
libtpm/utils/createkeydelegation
libtpm/utils/createownerdelegation
libtpm/utils/createrevek
libtpm/utils/delegatemanage
libtpm/utils/delegatereadtable
libtpm/utils/deepquote
libtpm/utils/dirread
libtpm/utils/dirwrite
libtpm/utils/disableforceclear
libtpm/utils/disableownerclear
libtpm/utils/disablepubek
libtpm/utils/dumpkey
libtpm/utils/enableaudit
libtpm/utils/evictkey
libtpm/utils/extend
libtpm/utils/flushspecific
libtpm/utils/forceclear
libtpm/utils/getauditdigest
libtpm/utils/getauditdigestsigned
libtpm/utils/getcapability
libtpm/utils/getcontextcount
libtpm/utils/getpubek
libtpm/utils/getpubkey
libtpm/utils/getticks
libtpm/utils/identity
libtpm/utils/keycontrol
libtpm/utils/killmaintenancefeature
libtpm/utils/libtpm-config
libtpm/utils/listkeys
libtpm/utils/loadauthcontext
libtpm/utils/loadcontext
libtpm/utils/loadkey
libtpm/utils/loadkeycontext
libtpm/utils/loadmanumaintpub
libtpm/utils/loadmigrationblob
libtpm/utils/loadownerdelegation
libtpm/utils/migrate
libtpm/utils/migratekey
libtpm/utils/nv
libtpm/utils/nv_definespace
libtpm/utils/nv_readvalue
libtpm/utils/nv_writevalue
libtpm/utils/ownerreadinternalpub
libtpm/utils/ownersetdisable
libtpm/utils/pcrread
libtpm/utils/pcrreset
libtpm/utils/physicaldisable
libtpm/utils/physicalenable
libtpm/utils/physicalpresence
libtpm/utils/physicalsetdeactivated
libtpm/utils/quote2
libtpm/utils/random
libtpm/utils/readmanumaintpub
libtpm/utils/resetestbit
libtpm/utils/resetlockvalue
libtpm/utils/revtrust
libtpm/utils/saveauthcontext
libtpm/utils/savecontext
libtpm/utils/savekeycontext
libtpm/utils/savestate
libtpm/utils/sealfile
libtpm/utils/sealfile2
libtpm/utils/sealxfile
libtpm/utils/selftest
libtpm/utils/session
libtpm/utils/setcapability
libtpm/utils/setoperatorauth
libtpm/utils/setownerinstall
libtpm/utils/setownerpointer
libtpm/utils/settempdeactivated
libtpm/utils/sha
libtpm/utils/sha1parts
libtpm/utils/sha1start
libtpm/utils/signfile
libtpm/utils/signmsg
libtpm/utils/takeown
libtpm/utils/tickstampblob
libtpm/utils/tpmbios
libtpm/utils/tpminit
libtpm/utils/tpmquote
libtpm/utils/tpmreset
libtpm/utils/transport_test
libtpm/utils/unbindfile
libtpm/utils/unsealfile
libtpm/utils/unsealxfile
libtpm/utils/updateverification
libtpm/utils/verifydelegation
libtpm/utils/verifyfile
tpm/tpm_server
libtpm/Makefile
libtpm/Makefile.in
libtpm/aclocal.m4
libtpm/autom4te.cache/
libtpm/compile
libtpm/config.guess
libtpm/config.log
libtpm/config.status
libtpm/config.sub
libtpm/configure
libtpm/depcomp
libtpm/install-sh
libtpm/lib/.deps/
libtpm/lib/.libs/
libtpm/lib/Makefile
libtpm/lib/Makefile.in
libtpm/lib/libtpm.la
libtpm/libtool
libtpm/ltmain.sh
libtpm/m4/
libtpm/missing
libtpm/utils/.deps/
libtpm/utils/Makefile
libtpm/utils/Makefile.in
libtpm/utils/checkdeepquote
libtpm/utils/encaik
